// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'partialsGuests/_common';
@import 'partialsGuests/_nav';         // Regole comuni
@import 'partialsGuests/_header';         // HEADER
@import 'partialsGuests/_main';           // MAIN
@import 'partialsGuests/_footer';         // FOOTER
