main#main_content{
    .posts{
        width: 80%;
        margin: auto;
        flex-wrap: wrap;
        .card_posts{
            width: 30%;
            margin-top: 100px;
            margin-bottom: 100px;
            img{
                width: 100%;
                margin-bottom: 10px;
                border: 1px solid black;
            }
            p{
                align-self: flex-start;
                font-weight: bold;
                font-size: 27px;
                line-height: 27px;
            }
            a{
                align-self: flex-start;
                color: black;
                text-decoration: none;
            }
        }
    }
    
    .chi_siamo{
        width: 80%;
        margin: auto;
        h1{
            font-weight: 900;
            font-size: 40px;
        }
        div{
            .card_author{
                h3{
                    font-size: 20px;
                    margin-bottom: 0;
                }
                .img_author{
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    background-color: black;
                    overflow: hidden;
                    margin: 20px;
                    img{
                        width: 200px;
                    }
                }
            }
        }
    }
}

