main#main_content_guest{
    section.main_jumbotron{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100vh;
        background: #e7e5f6;
        div.text_jumbotron{
            width: calc(100% / 1);
            display: flex;
            flex-direction: column;
            padding: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1 {
                text-align: center;
                padding-left: 20px;
                font-weight: bold;
                color: white;
                text-shadow: 2px 2px 10px #502f4b;
            }
            div.icons{
                display: flex;
                justify-content: center;
                span.icon{
                    width: 50px;
                    height: 50px;
                    margin: 0 20px;
                    background:white;
                    box-shadow: 2px 2px 10px #927f8f;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        font-size: 30px;
                        color: #66508D;
                    }
                }
            }
            div.button_main{
                margin-top: 10%;
                margin-bottom: 5%;
                display: flex;
                justify-content: center;
                align-items: center;
                span.search_btn{    
                    a{
                        font-size: 20px;
                        padding: 7px 14px;
                        color: white;
                        background-color: #66508D;
                        border: 1px solid #66508D;
                        border-radius: 6px;
                        box-shadow: 2px 2px 10px #502f4b;
                        &:hover{
                            padding: 7px 14px;
                            color: white;
                            text-decoration: none;
                            background-color: #66508da8;
                        }  
                    }
                }
            }
        }
        div.image_main_left{
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            img{
                height: 100%;
            }
        }
        div.image_main_right{
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(33.5%);
            img{
                height: 100%;
            }
        }
    }
    section.posts{
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        // justify-content: space-between;
        padding: 0 25px;
        flex-wrap: wrap;
        .card_posts{
            // width: 30%;
            margin-top: 30px;
            margin-bottom: 30px;
            img{
                width: 100%;
                margin-bottom: 10px;
            }
            p{
                align-self: flex-start;
                font-weight: bold;
                font-size: 25px;
                margin-top: 10px;
                margin-bottom: 0;
            }
            a{
                align-self: flex-start;
                text-decoration: none;
            }
        }
    }
}

main#main_search{
    min-height: 100vh;
    section.banner_search{
        width: 100%;
        height: 300px;
        background-image: url('../../../public/img/mappa.png');
        background-size: cover;
        background-position: center;
        position: relative;
        .overlay_img{
            width: 100%;
            height: 100%;
            background-color:#0000001c;
        }
    }
    section.types_search{
        margin-top: 10px;
        background-color: white;
        div.types_container{
            // width: 90%;
            margin: 0 20px;
            padding: 0 20px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgb(226, 226, 226);
            .type{
                width: 80px;
                .type_btn{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 60px;
                        height: 60px;
                    }
                    p{
                        text-align: center;
                        font-size: 14px;
                    }
                    &:hover{
                        img{
                            background-color: #F6F6F6;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
    section.restaurant_search{
        margin-bottom: 80px;
        padding: 0 40px;
        display: flex;
        .restaurants{
            width: 100%;
            margin-top: 24px;
            padding: 0 12px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .restaurants_container{
                width:cal(100% / 3);
                padding: 12px;
                display: flex;
                justify-content: space-between;
                .restaurant_card{
                    .img_restaurant{
                        width: 100%;
                        height: 128px;
                        // background-color: darkorchid;
                        overflow: hidden;
                        position: relative;
                        display: block;
                        margin-top: 20px;
                        img{
                            width: 100%;
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-49%);
                        }
                    }
                    .text_restaurant{
                        padding-top: 12px;
                        p.name_restaurant{
                            font-size: 18px;
                            margin-bottom: 2px;
                            font-weight: bold;
                        }
                        p.address_restaurant{
                            font-size: 14px;
                            margin-bottom: 2px;
                        }
                        span{
                            width: 440px;
                            // margin-right: 200px;
                        }
                    }
                    
                }
            }
            
        }
    }
}

main#main_show{
    // min-height: 100vh;
    section.banner_show{
        width: 100%;
        height: 240px;
        .show_img_restaurant{
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;
            display: block;
            img{
                width: 100%;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-55%);
            }
            .title_show{
                position: absolute;
                bottom: 0;
                left: 0;
                transform: translate(0%, 0%);
                padding: 24px 40px;
                h1{
                    color: white;
                    font-size: 36px;
                }
            }
        }
    }
    section.show_restaurant{
        padding: 0 25px;
        // min-height: 100vh;
        .info_restaurant{
            padding: 24px 0;
            margin-left: 15px;
            font-size: 15px;
            color: black;
            border-bottom: 1px solid lightgrey;
            .types_restaurant{
                padding-bottom: 10px;
                span.name{
                    &:last-child{
                        span.divisore{
                            opacity: 0
                        }
                    }
                }
            }
        }
        .dishes_carello{
            padding-top: 30px;
            width: 100%;
            // max-height: 1000px;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            .dishes{
                width: 100%;
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                .dish_container{
                    padding-bottom: 30px;
                    position: relative;
                    .dish{
                        border: 1px solid lightgrey;
                        display: flex;
                        justify-content: space-between;
                        .info_add_dish{
                            width: calc(100% - 158px);
                            padding: 16px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            .info_dish{
                                
                                .name{
                                    text-transform: capitalize;
                                }
                            }
                            .dish_quantity{
                                .quantity{
                                    display: flex;
                                    justify-content: space-between;
                                    button{
                                        background-color: rgb(199, 143, 180);
                                        border: none;
                                        border-radius: 6px;
                                        padding: 5px 10px;
                                        &:hover{
                                            color: white;
                                            background-color: rgb(181, 143, 199);
                                        }
                                    }
                                }
                            }
                        }
                        .img_dish{
                            width: 158px;
                            height: 158px;
                            overflow-x: hidden;
                            img{
                                width: 100%;
                                height: 100%;
                                display: block;
                            }
                        }
                    }
                }
            }
            aside{
                padding-bottom: 50px;
                #carrello_container{
                    position: relative;
                    width: 100%;
                    border-radius: 6px;
                    background-color: rgb(255, 250, 255);
                    box-shadow: 2px 2px 10px grey;
                    .carello{
                        max-height: 400px;
                        overflow-y: scroll;
                        .carello_order{
                            padding: 10px;
                            display: flex;
                            justify-content: space-between;
                            .dishes_order{
                                width: 100%;
                                height: 24px;
                                padding-right: 10px;
                                display: flex;
                                justify-content: space-between;
                                .dish_name{
                                    span{
                                        margin-left: 6px;
                                    }
                                }
                            }
                            .btn_remouve{
                                button{
                                    background-color: rgb(199, 143, 180);
                                    border: none;
                                    border-radius: 6px;
                                    padding: 0px 9px;
                                    &:hover{
                                        color: white;
                                        background-color: rgb(181, 143, 199);
                                    }
                                }
                            }
                        }
                    }
                    .total_order{
                        padding: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        div.total{
                            padding: 8px 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        button{
                            background-color: rgb(199, 143, 180);
                            border: none;
                            border-radius: 6px;
                            padding: 0px 9px;
                            &:hover{
                                color: white;
                                background-color: rgb(181, 143, 199);
                            }
                        }
                        
                    }
                }
                
            }
        }
    }  
}


// small
@media (max-width: 768px) {
    .d_none {
        display: none;
    }
    .text_jumbotron{
        width: calc(100% / 2);
    }
    h1{
        font-size: 2.5rem;
    }
}
// md
@media (min-width: 768px) and (max-width: 1110px) {
    .d_none {
        display: none;
    }
    .text_jumbotron{
        width: calc(100% / 2);
    }
    h1{
        font-size: 5rem;
    }
}
// lg
@media (min-width: 1110px){
    h1{
        font-size: 5rem;
    }
  
}