*
{margin: 0; padding: 0; box-sizing: border-box;
list-style: none; text-decoration: none;}

.container_admin {
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    display: flex;
    background-color: #E7E5F6;
    .responsive {display: none;}
    .sidebar {
        width: 25vh;
        min-height: 100%;
        background-color: #E7E5F6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 45px 0;
        #user_id a, i {
            text-decoration: none;
            color: black;
            font-size: 20px;
            cursor: default;
        }
        ul {
            width: 85%;
            min-height: 55%;
            background: transparent;
            border-radius: 20px;
            border: 1px solid #bac8d7;
            box-shadow: 9px 9px 16px rgb(163 177 198 / 20%), -9px -9px 16px rgb(255 255 255 / 40%);
            background-color: #e7e5f6;
            padding: 0 15px;
            i {font-size: 20px;margin: 0 15px 0 0; color: black;padding: 10px;
                border-radius: 50%;
            }
            
            div {
                text-align: center;
                margin: auto;
                margin-top: 20px;
                i {
                    font-size: 24px;
                    margin: 10px 15px;
                    p {
                        margin: 10px 0;
                    }
                }
            }

            li:hover i {
                color: purple;
                background: white;
            }
            li:hover > a {
                color: purple; 
                display: inline;
                background: white;
                padding: 5px;
                border-radius: 5%;
            }
            li a {
                color: black;
                font-weight: 600;
                font-size: 13px;
                
            
            }
            li {
                margin: 35px 0;
            }
            
        }
}
}

.show_content {
    width: calc(100% - 25vh);
    min-height: 100%;
    background-color: #E7E5F6;
    display: flex;
}
// .custome-dropdown-wrapper {
//     max-width: 100%;
//     min-height: 10px;
//     margin-bottom: 50px;
//     display: flex;
// }


// .custome-dropdown-wrapper {
//     min-width: 180px !important;
// }

// .custome-dropdown-wrapper .custome-dropdown {
//     display: flex;
//     align-items: center;
//     width: 100%;
// }
// .custome-dropdown  img {display: none;}


// }
