main#main{
    display: flex;
    aside.dashboard{
        min-height: 100vh;
        background: #2B313E;
        div.dashboard_list{
            padding: 24px 0;
            ul{
                li{
                    padding: 10px;
                    list-style: none;
                    a{
                        color: #616774;
                        text-decoration: none;
                    }
                    &.active,
                    &:hover{
                        background: #262A36;
                        a{
                            color:white;
                        }
                    }
                } 
            }
        }
    }
    div#main_content{
        padding: 10px;
        background: #F7F7F9;
        .table_admin{
            margin: 10px 0;
            background: white;
            border: 1px solid #e3e3e3;
            border-radius: 6px;
            .row_table_th{
                display: flex;
                padding: 10px 0;
                border-top: 1px solid #ffffff;
                border-bottom: 1px solid #e3e3e3;
                .actions_th{
                    width: 160px;
                    padding: 0 10px;
                }
                .types_th,
                .name_th{
                    width: 300px;
                    padding: 0 10px;
                }
                .desc_th,
                .address_th{
                    width: calc(100% - 160px - 300px - 60px - 60px);
                    padding: 0 10px;
                }
                .price_th,
                .cover_th,
                .status_th{
                    width: 60px;
                    text-align: center;
                }
            }
            .row_table{
                display: flex;
                padding: 10px 0;
                border-top: 1px solid #ffffff;
                align-items: center;
                &:not(:last-child){
                    border-bottom: 1px solid #e3e3e3;
                }
                .actions{
                    width: 160px;
                    padding: 0 10px;
                    border-right: 2px solid #e3e3e3;
                    display: flex;
                    justify-content: space-between;
                }
                .types,
                .name{
                    width: 300px;
                    padding: 0 10px;
                    font-weight: bold;
                    border-right: 2px solid #e3e3e3;
                }
                .desc,
                .address{
                    width:calc(100% - 160px - 300px - 60px - 60px);
                    padding: 0 10px;
                    font-weight: bold;
                }
                .price,
                .cover,
                .status{
                    width: 60px;
                    text-align: center;
                    border-left: 2px solid #e3e3e3;
                    &.green{
                        color: green;
                    }
                    &.red{
                        color: red;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
            .card_admin{
                width: 70%;
                margin: 0 auto;
                padding: 20px;
                display: flex;
                justify-content: space-between;

                .card_type{
                    width: 150px;
                    padding: 10px;
                    box-shadow: 2px 2px 8px grey;
                    border-radius: 6px;
                    .icona{
                        text-align: center;
                    }
                }
            }
            
        }
    }
}
  
